<!DOCTYPE html>
<html>
  <head>
    <title>EventzRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <header>
    <%= image_tag("logo") %>>
  </header>
  
  <div class="content">
    <%= yield %>
  </div>
  
  <footer>
    <p>
      Made in <a href="https://pragmaticstudio.com">The Pragmatic Studio</a>
    </p>
  </footer>
  
  </body>
</html>
